.footer {
  background-color: #57bc90;
  width: 100%;
  height: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.container--icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.line-long {
  width: 3rem;
  height: 3px;
  margin: 0 2rem;
  background-color: #000;
}

.list {
  margin-right: 1rem;
}

.copyright {
  font-size: 1rem;
  /* padding-top: 1rem; */
  margin-bottom: -2rem;
}

.container--badge {
  width: 20rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
}

.codewars {
  width: inherit;
  height: inherit;
}

.codewars:hover,
.codewars:active {
  filter: saturate(2);
}

.visitors {
  position: absolute;
  color: #015249;
  bottom: 1rem;
  right: 2rem;
}

ul li {
  cursor: pointer;
}

ul li i {
  font-size: 2rem;
}

ul li i:hover {
  color: #a5a5af;
}

@media (max-width: 900px) {
  .footer {
    position: relative;
  }

  .visitors {
    position: absolute;
    color: #015249;
    top: -3rem;
    right: 2rem;
  }

}