.home {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container--main {
  justify-content: center;
  align-items: center;
}

.container--img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container--wrapper {
  width: 100rem;
  height: 50rem;
  position: relative;
}

.container--text {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 3rem;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
  overflow: hidden;
  transition: all .3s ease;
}

.my-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes moving {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateX(1rem);
  }
}

.my-name span {
  color: #fff;
}

.my-name i {
  margin-right: 3rem;
  font-size: 3rem;
  color: #fff;
  animation: moving .3s ease-in-out infinite alternate none;
}

.name {
  font-size: 6rem;
  color: #fff;
}

.image {
  width: 50%;
  box-sizing: border-box;
}

.front {
  cursor: pointer;
  background-image: linear-gradient(to right, #77c9d4, #57bc90);
  padding-top: 5rem;
  padding-bottom: 5rem;
  z-index: 2;
}

.back {
  width: 50%;
  height: 90%;
  top: 50%;
  background-color: #000;
  color: #77c9d4;
  transform: translateY(-50%);
  z-index: 1;
}

.skills {
  width: 63%;
  left: 40%;
  background-color: #fff;
  border: 4px solid #a5a5af;
  padding-left: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}

.skills h3 {
  font-size: 3.5rem;
  ;
}

.skills h4 {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.skills p {
  font-size: 2rem;
}

.front:hover~.back {
  left: 49%;
}

/* .back {
  background-color: #38A3A5;
  transform: rotateY(180deg);
}

.container--wrapper:hover .front {
  transform: rotateY(-180deg);
}

.container--wrapper:hover .back {
  transform: rotateY(0);
} */

.container--image {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 3rem;
}

.together {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: #80ED99;
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  justify-content: space-between;
  padding-right: 3rem;
}

.image {
  width: 100%;
}

.color-letter {
  font-size: 5rem;
}

.build {
  font-size: 3rem;
}

h3 span {
  font-size: 1.5rem;
  color: #fff;
}

@media (max-width: 900px) {
  /* .home {
    height: max-content;
  } */

  .container--wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .container--text {
    position: relative;
    width: 100%;
    min-height: 50rem;
    margin-bottom: 5rem;
  }

  .my-name i {
    display: none;
  }

  .skills {
    padding-left: 3rem;
    left: 0;
  }

  .back {
    /* top: 0; */
    transform: translateY(0);
  }

  .front:hover~.back {
    left: 0;
  }

}

@media (max-width: 500px) {
  .front {
    height: 30rem;
  }

  .front h1 {
    font-size: 3rem;
  }

  .name {
    font-size: 3.5rem;
  }

  .front h3 span {
    display: block;
  }

  .build strong {
    display: block;
  }

}