.home {
  width: 100%;
}

.container--main {
  justify-content: center;
  align-items: center;
}

.container--img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container--text {
  width: 50rem;
  height: 25rem;
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  width: 50%;
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h3 span {
  font-size: 1.5rem;
}

p {
  font-size: 2rem;
}