.card-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.project-lists {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 20rem;
  align-items: center;
  justify-items: center;
  grid-gap: 5rem;
}

li span {
  position: absolute;
  top: -2.7rem;
  text-align: center;
}

li:hover span {
  color: #FFB830;
}

a {
  color: #000;
}

.image-box {
  width: 30rem;
  height: 20rem;
  font-size: 2rem;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(1);
  position: relative;
  transition: all .3s cubic-bezier(.58, .01, .37, 1);

}

.image-box:hover {
  filter: grayscale(0);
  /* border: 2px solid #000; */
}

.external {
  margin-top: 0;
  font-size: 0;
  color: #a5a5af;
  transition: all .2s cubic-bezier(.58, .01, .37, 1);
}

.image-box:hover .external {
  font-size: 5rem;
}

.container--detail {
  width: 100%;
  height: 10rem;
  background-color: #015249;
  border-radius: 10px;
  padding-left: 1rem;
  margin-top: 3rem;
}

@media (max-width: 1030px) {
  .project-lists {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .project-lists {
    display: flex;
    flex-direction: column;
  }

  .image-box {
    font-size: 1.5rem;
  }

  .container--detail {
    display: none;

  }

}