.card-style {
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
}

.container--game {
  width: 30rem;
  height: 20rem;
  background: url("./../../images/toto/grass.png"), repeat, center;
  border: 2px solid #015249;
  border-top: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 4rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 5;
}

.game-sky {
  position: absolute;
  width: 30rem;
  height: 13rem;
  background-color: skyblue;
  border: 2px solid navy;
  border-bottom: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  top: -60%;
  left: -2px;
  z-index: -1;
}

.house {
  position: absolute;
  top: -6rem;
  left: -1rem;
}

.btn--game-start {
  width: 10rem;
  background-color: #015249;
  cursor: pointer;
  color: yellow;
  border: 2px solid #a5a5af;
  border-radius: 3px;
  padding: 2px;
  margin-bottom: 10rem;
  box-shadow: .1rem .3rem 0 #a5a5af;
}

.btn--game-start:hover,
.btn--game-start:active {
  background-color: #57bc90;

}

.btn--game-start:active {
  transform: translateY(.2rem);
  box-shadow: .1rem .1rem 0 #8d8d96;
}

.label--toto {
  width: 30rem;
  height: 20rem;
  border: 1px solid black;
  position: absolute;
}

.windmill {
  position: absolute;
  top: -8.5rem;
  right: 1rem;
  z-index: 10;
}

.meal-bag-one {
  width: 2rem;
  position: absolute;
  top: 1rem;
  right: 0;
  z-index: 10;
}

.meal-bag-two {
  width: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.meal-bag-three {
  width: 2rem;
  position: absolute;
  top: 0;
  right: 2rem;
  z-index: 10;
}

.pixel {
  font-size: 1.8rem;
  position: absolute;
  bottom: -15%;
  right: .3rem;
}

.tree-one {
  position: absolute;
  top: -7.5rem;
  left: 3.8rem;
  z-index: -1;
}

.tree-two {
  position: absolute;
  top: -9.5rem;
  left: 10rem;
  z-index: -1;
}

@media (max-width: 800px) {
  .title {
    font-size: 3rem;
  }
}