.header {
  width: 100vw;
  height: 10rem;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  padding: 0 7rem;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  background-color: transparent;
  width: 25rem;
  height: 25rem;
  position: absolute;
  top: 0;
  right: 7rem;
  border-bottom-left-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
  overflow: hidden;
}

.container--menu {
  background-color: white;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 100%;
  z-index: 10;
}

/* @keyframes topRotate {
  0% {
    transform: rotate(0);
  }

  25% {

    transform: rotate(90deg)
  }

  50% {

    transform: rotate(180deg)
  }

  75% {

    transform: rotate(270deg)
  }

  100% {
    trasform: rotate(0deg)
  }
} */

@keyframes rotate {
  0% {
    top: 40%;
    transform: rotate(0);
  }

  25% {
    top: 40%;
    transform: rotate(90deg)
  }

  50% {
    top: 40%;
    transform: rotate(180deg)
  }

  75% {
    top: 40%;
    transform: rotate(270deg)
  }

  100% {
    trasform: rotate(0deg)
  }
}

.container--menu:hover .menu-bar-top {
  animation: rotate .3s ease-in 1;
}

.container--menu:hover .menu-bar-middle {
  animation: rotate .3s ease-in 1;
}

.container--menu:hover .menu-bar-bottom {
  animation: rotate .3s ease-in 1;
  /* transform: rotate(135deg); */
}

.container--menu:hover~.menu-lists,
.menu-lists:hover {
  transform: rotate(0);
}

.menu-lists:hover,
.menu-lists:active {
  transform: rotate(90deg);
}

.menu-bar {
  width: 2.5rem;
  height: .3rem;
  position: absolute;
  right: 30%;
  background-color: #000;
}

.menu-bar-top {
  top: calc(40% + 1rem);
  transition: all .1s ease-in;
}

.menu-bar-middle {
  top: 40%;
  transition: all .1s ease-in;
}

.menu-bar-bottom {
  top: calc(40% - 1rem);
  transition: all .1s ease-in;
}

.logo {
  position: absolute;
  left: 9rem;
  cursor: pointer;
  font-size: 3rem;
}

.link-logo {
  text-decoration: none;
}

.menu-lists {
  display: block;
  width: 100%;
  height: 100%;
  background: #a5a5af;
  /* background: rgba(182, 182, 182, 0.8); */
  padding-bottom: 5rem;
  transform-origin: top right;
  transform: rotate(90deg);
  transition: all .2s ease-in;
  padding-left: 1rem;
  position: relative;
  border: 2px dashed transparent;
  z-index: 0;
}

.link {
  width: 10rem;
  height: 5rem;
  margin-top: 20px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  text-decoration: none;
  padding: .8rem 1rem;
  position: absolute;
  box-sizing: border-box;
  border-radius: 10px;
  right: 1rem;
}

.link:first-child {
  bottom: 9rem
}

.link:last-child {
  bottom: 4rem
}

.link:hover {
  /* border: 2px dashed #000; */
  color: #fff;
}

@media (max-width: 800px) {
  .header {
    padding: 0;
  }

  .nav {
    right: 3rem;
  }

  .logo {
    left: 6rem;
  }
}