.header {
  width: 100vw;
  height: 10rem;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  padding: 0 7rem;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  background-color: transparent;
  width: 25rem;
  height: 25rem;
  position: absolute;
  top: 0;
  right: 6rem;
  border-bottom-left-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
  overflow: hidden;
}

.nav--toggle {
  display: none;
  position: absolute;
  top: 4rem;
  right: 4rem;
  z-index: 100;
}

.container--menu {
  background-color: #fff;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 100%;
  z-index: 10;
}

.menu-bar {
  width: 2.5rem;
  height: .3rem;
  position: absolute;
  right: 30%;
  background-color: #000;
}

.menu-bar-top {
  top: calc(40% + 1rem);
  transition: all .1s ease-in;
}

.menu-bar-middle {
  top: 40%;
  transition: all .1s ease-in;
}

.menu-bar-bottom {
  top: calc(40% - 1rem);
  transition: all .1s ease-in;
}

.action-top {
  top: 40%;
  transform: rotate(45deg);
}

.action-middle {
  display: none;
}

.action-bottom {
  top: 40%;
  transform: rotate(135deg);
}

.logo {
  position: absolute;
  left: 9rem;
  cursor: pointer;
  font-size: 3rem;
}

.link-logo {
  text-decoration: none;
}

.menu-lists {
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #77c9d4, #57bc90);
  padding-bottom: 5rem;
  transform-origin: top right;
  transform: rotate(180deg);
  transition: all .2s ease-in;
  padding-left: 1rem;
  position: relative;
  border: 2px dashed transparent;
  z-index: 0;
}

.action--toggle {
  transform: rotate(0);
}

.link {
  width: 10rem;
  height: 5rem;
  margin-top: 20px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  text-decoration: none;
  padding: .8rem 1rem;
  position: absolute;
  box-sizing: border-box;
  border-radius: 10px;
  right: 1rem;
}

.link:first-child {
  bottom: 9rem
}

.link:last-child {
  bottom: 4rem
}

.link:hover,
.link:active {
  color: #a5a5af;
}

@media (max-width: 800px) {
  .nav {
    height: 100vh;
    width: 20rem;
    border-bottom-left-radius: 0;
    right: 0;
  }

  .container--menu {
    width: 5rem;
    height: 5rem;
    border-bottom-left-radius: 0;
    top: 2.5rem;
    right: 2rem;
  }

  .menu-lists {
    background: #fff;
    transform-origin: 0 0;
    transform: translateX(100%);
  }

  .header {
    padding: 0;
  }


  .logo {
    left: 3rem;
  }

  .link:first-child {
    top: 10rem;
  }

  .link:last-child {
    top: 15rem;
  }

  .action--toggle {
    transform: translateX(0);
  }
}