* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", san-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

#root {
  width: 100%;
}